# Ignore the dataset folder
# IMPORTANT: make sure that your dataset is stored in a
# folder with the same name as the one specified below!

food_data/*
.ipynb_checkpoints/*
TransFG/models/__pycache__/*
TransFG/utils/.ipynb_checkpoints/*
TransFG/utils/__pycache__/*
TransFG/.ipynb_checkpoints/*
TransFG/.gitignore
TransFG/models/.ipynb_checkpoints/i*
TransFG_Multitask/*.bin
TransFG_Multitask/output/*
TransFG/models/.ipynb_checkpoints/*
TransFG_Multitask/utils/__pycache__/*
TransFG_Multitask/utils/.ipynb_checkpoints/*
TransFG_Multitask/models/__pycache__/*
TransFG_Multitask/logs/*
TransFG_Multitask/__pycache__/*
TransFG_Multitask/.ipynb_checkpoints/*
TransFG_Multitask/models/.ipynb_checkpoints/*
